/vendor/
/.phpunit.result.cache
/.php-cs-fixer.cache
/logs/
/chrome-ext/logs/
/chrome-ext/data/
/.env
/proxy_rules.yaml
.DS_Store
.idea/
.phpunit.cache/
*.log
*.zip

node_modules/

# Build
ytd.phar
bin/box
package.xml

# Cache
.deptrac.cache
bin/ytd-proxy
